<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="../styles.css"> -->
  <title>Home</title>
</head>
<body style="background: rgb(78, 18, 61)">
  <%- include('./partials/nav') %>

  <h1><%= restaurant.name %></h1>
  <div>Address: <%= restaurant.address %></div>
  <div>Tel.: <%= restaurant.phone %></div>
  <div><%= restaurant.isOpen === true ? "Yes, we are open!" : "Sorry, we are closed." %></div>
  
</body>
</html>
